<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.choonoh.soobook">

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />



    <application
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_soobook"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_soobook_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SOOBOOK.NoActionBar"
        android:usesCleartextTraffic="true">

        <activity android:name=".Splash">
            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".Before_Signup"/>
        <activity android:name=".Login"/>
        <activity android:name=".Sign_up" />
        <activity android:name=".FindPw" />
        <activity android:name=".BottomNavActivity"/>
        <activity android:name=".Home"/>
        <activity android:name=".SearchBook"/>
        <activity android:name=".QrReaderActivity"/>
        <activity android:name=".RecordHistoryActivity"/>
        <activity android:name=".SearchBookTitle"/>
        <activity android:name=".Settings"/>
        <activity android:name=".WriteMemo" android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".SelectReadBook"/>
        <activity android:name=".BookDetailActivity"/>
        <activity android:name=".TotalReviews"/>
        <activity android:name=".FriendLibrary"/>
        <activity android:name=".DirectRecord"/>
        <activity android:name=".ProfileEdit"/>
        <activity android:name=".RecordHistoryDetailActivity"/>
        <activity android:name=".WishDetailActivity"/>
        <service
            android:name=".MyFirebaseMessagingService"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"/>

        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />
    </application>
</manifest>